*,  *::before, *::after {
    box-sizing: border-box; // ! why?????????
    // -webkit-tap-highlight-color: transparent; // disable blue tap for sensor device
}

html {
    scroll-behavior: smooth;
    // scroll-padding-top: 64px;
    font-size: 1px; // reset pixels for em / rem unit
}
