// >----------------------------------------------------------------<
// >                            IMPORT                              <
// >----------------------------------------------------------------<

// @use "../../../style/scss/main.scss" as *;




// >----------------------------------------------------------------<
// >                            MIXINS                              <
// >----------------------------------------------------------------<

@mixin bgImgSVG($img) { // image.svg
    background-image: url("../../assets/svg/"+$img);
}




// >----------------------------------------------------------------<
// >                              ROOT                              <
// >----------------------------------------------------------------<

:root {

    // ^------------------------ size ------------------------
    --size-w__block-container_desktop: 1200px; // block container --> 80px * 12 columns / gutter 24 px

    --size-h__block-container-header_desktop: 64px;
    --size-h__block-container-main_desktop: 100%;
    --size-h__block-container-footer_desktop: 64px;
}




// >----------------------------------------------------------------<
// >                         START SETTINGS                         <
// >----------------------------------------------------------------<

// html, body {
//     height: 100%;
// }
// ^------------------------ footer to buttom ------------------------

// .body {
//     // .body__container {
//     //     position: relative;
//     //     height: min(100%, 100vh);
//     //     width: 100vw;
//     //     display: flex;
//     //     flex-direction: column;
//     //     overflow-x: hidden;
//     // }
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     max-width: 1440px;
//     height: 100%;
//     margin: 0 auto;
//     background-color: green;
//     // .main {
//     //     flex: 1;
//     // }
// }


// // ^------------------------ block container ------------------------

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0 auto;
    max-width: var(--size-w__block-container_desktop);
}




// >----------------------------------------------------------------<
// >                             HEADER                             <
// >----------------------------------------------------------------<

.header {
    // height: var(--size-h__block-container-header_desktop);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    padding-top: 60px;
    & .container {
        display: flex;
        align-items: center;
        flex-direction: row;

    }

    &__logo {
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo {
            padding-bottom: 10px;
        }
        .subtitle {

        }

    }

    &__navigation{
        margin-left: auto;
        display: flex;
        .navigation {
            display: flex;
            gap: 35px;
            // flex-direction: row;
        }

    }
}




// >----------------------------------------------------------------<
// >                              MAIN                              <
// >----------------------------------------------------------------<

.main {
    // height: var(--size-h__block-container-main_desktop);
    background-color: white;
    & .container {
        // content: "500px";
    }
}

.fold {
    background: var(--color--main-gradient), var(--color--main-background);
    &__content {
        display: flex;
        flex-direction: column;
        max-width: 460px;
        gap: 42px;
        // padding-top: 223px;
        padding-top: 341px;
        padding-bottom: 243px;
    }

    .content__header {
        max-width: 310px;
    }
}

.about {

}

.pets {

}

// >----------------------------------------------------------------<
// >                             FOOTER                             <
// >----------------------------------------------------------------<

.footer {
    padding: 0;
    // height: var(--size-h__block-container-footer_desktop);
    background: var(--color--footer-gradient), var(--color--footer-background);
    & .container {
    }
}
