// >----------------------------------------------------------------<
// >                            IMPORT                              <
// >----------------------------------------------------------------<

@use "../../../style/scss/abstracts/mixins" as *;




// >----------------------------------------------------------------<
// >                            MIXINS                              <
// >----------------------------------------------------------------<

@mixin bgImgSVG($img) { // image.svg
    background-image: url("../../assets/svg/"+$img);
}




// >----------------------------------------------------------------<
// >                              ROOT                              <
// >----------------------------------------------------------------<

:root {

    // ^------------------------ size ------------------------
    --size-w__block-container_desktop: 1200px; // block container --> 80px * 12 columns / gutter 24 px

    --size-h__block-container-header_desktop: 64px;
    --size-h__block-container-main_desktop: 100%;
    --size-h__block-container-footer_desktop: 64px;
}




// >----------------------------------------------------------------<
// >                         START SETTINGS                         <
// >----------------------------------------------------------------<

// html, body {
//     height: 100%;
// }
// ^------------------------ footer to buttom ------------------------

.body {
    .body-container {
        position: relative;
//     //     height: min(100%, 100vh);
//     //     width: 100vw;
//     //     display: flex;
//     //     flex-direction: column;
// overflow-x: hidden;
}
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     max-width: 1440px;
//     height: 100%;
//     margin: 0 auto;
//     background-color: green;
//     // .main {
//     //     flex: 1;
//     // }
}

// // ^------------------------ block container ------------------------

.container {
    display: flex;
    max-width: var(--size-w__block-container_desktop);
    min-height: 100%;
    margin: 0 auto;

    @media (max-width: 1279px) {
        margin: 0 30px;
    }
}


// >----------------------------------------------------------------<
// >                             HEADER                             <
// >----------------------------------------------------------------<

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    padding-top: 60px;

    @media (max-width: 1279px) {
        padding-top: 30px;
    }
    // height: var(--size-h__block-container-header_desktop);
    & .container {
        position: relative;
        display: flex;
        align-items: center;
    }

    &__logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 60px;

        .logo {
            padding-bottom: 10px;
        }
        .subtitle {

        }

    }

    &__navigation{
        display: flex;
        margin-left: auto;
        .navigation {
            display: flex;
            gap: 35px;
        }

    }
}




// >----------------------------------------------------------------<
// >                              MAIN                              <
// >----------------------------------------------------------------<

.main {
    // height: var(--size-h__block-container-main_desktop);
    background-color: white;
    & .container {
        // content: "500px";
    }
}

.fold {
    background: url("../../../assets/img/png/noise_transparent.png"),
                var(--color--main-gradient), var(--color--main-background);
    background-repeat: repeat;

    overflow-x: hidden;

    & .container{
        display: flex;
        justify-content: space-between;
        align-items: end;

        @media (max-width: 1024px) {
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 42px;
        max-width: 460px;
        padding-top: 343px;
        padding-bottom: 243px;
        // padding-top: 223px;
        @media (max-width: 1024px) {
            padding-top: 150px;
            padding-bottom: 100px;
            .button {
                align-self: center;
            }
        }
    }

    .content__header {
        max-width: 310px;
        height: 114px;
    }

    &__image-container {
        position: relative;
        width: 698px;
        height: 728px;
        // background-image: url("../../../assets/img/png/fold-puppy.png");
        // background-size: contain;
        // background-repeat: no-repeat;
        @media (max-width: 1024px) {
            width: 569px;
            height: 593px;

        }
    }
    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 698px;
        height: 728px;
        overflow: hidden;
        background-image: url("../../../assets/img/png/fold-puppy.png");
        background-repeat: no-repeat;
        background-size: contain;

        @media (max-width: 1024px) {
            width: 569px;
            height: 593px;
            left: 70px;
        }
    }
}

.about {
    padding-top: 80px;
    padding-bottom: 100px;
    .container{
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        @media (max-width: 1024px) {
            justify-content: center;
        }
    }
    .about__layout {
        // display: flex;
        // justify-content: center;
        align-items: center;
        // flex-wrap: wrap;
        @media (max-width: 1024px) {
            flex-direction: column-reverse;
            max-width: 430px;
        }
    }

    &__image {
        padding-left: 175px;
        @media (max-width: 1024px) {
            padding: 0;
        }
        .image{
            width: 300px;
            height: 408px;
            background-image: url("../../../assets/img/png/about-pets.png");
            background-repeat: no-repeat;
        }
    }

    &__content {
        .h3 {
            max-width: 370px;
        }
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding-right: 175px;
        @media (max-width: 1024px) {
            padding: 0;
            padding-bottom: 80px;
        }
    }
}

.pets {
    background: var(--color--light-l);
    padding-top: 80px;
    padding-bottom: 100px;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }
    .pets__slider {
        width: 100%;
        display: flex;
        // justify-content: center;
        justify-content: space-between;
        // gap: clamp(20px, 4.4%, 53px);
        align-items: center;
        .pets__icon-button {
            width: 52px;
            height: 52px;
            &_left {
                margin-right: 4.4%;
            }

            &_right {
                margin-left: 4.4%;
            }

            @media (max-width: 824px) {
                &_left {
                    margin-right: 12px;
                }

                &_right {
                    margin-left: 12px;
                }
            }
        }
    }

    .h3 {
        max-width: 400px;
        height: 90px;
        text-align: center;
    }

    .pets__layout {
        display: flex;
        // padding: 0 53px;
        width: min(990px, 100%);
        @include setLayout((100%-180)/3, -1);

        @media (max-width: 1120px) {
            justify-content: space-evenly;
            & >:last-child {
                display: none;
            }
        }

        @media (max-width: 824px) {
            justify-content: space-between;
        }
        // justify-content: space-between;
        // margin: 0 4.4%;
        // gap: 9%;
        // @media (max-width: 1279px) {
        //     // @include setLayout(400px, 90px);
        //     gap: 7.5%;
        //     background:red;
        // }
        // flex-wrap: wrap;
    }
}

.help {
    padding-top: 80px;
    padding-bottom: 100px;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }

    .h3{
        max-width: 310px;
        text-align: center;
        height: 90px;
    }

    .help__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 55px;
        column-gap: 120px;
        @media (max-width: 1120px) {
            column-gap: 60px;
        }

        .help__list-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
            @media (max-width: 1120px) {
                width: 170px;
            }
        }
    }

}

.donation {
    padding-top: 80px;
    padding-bottom: 100px;
    background: var(--color--light-l);
    .container {
        display: flex;
        align-items: center;
        @media (max-width: 1120px) {
            justify-content: center;
        }
    }

    .donation_layout{
        align-items: center;
        @media (max-width: 1120px) {
            flex-direction: column-reverse;
            // max-width: 430px;
        }
    }

    &__image {
        padding-left: 143px;
        padding-top: 11px;
        @media (max-width: 1120px) {
            padding: 0;
        }
        .image{
            position: relative;
            top: -5px;
            width: 505px;
            height: 261px;
            background-image: url("../../../assets/img/png/donation-dog.png");
            background-repeat: no-repeat;
            @media (max-width: 1120px) {
                top: 0;
            }
        }
    }

    .donation__content {
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
        .h3 {
            max-width: 300px;
            height: 90px;
        }
        .h5 {
            height: 17px;
        }
        .p2 {
            max-width: 380px;
        }

        @media (max-width: 1120px) {
            padding: 0;
            padding-bottom: 60px;
        }
    }
    .donation__credit-card {
        background-color: var(--color--primary);
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 10px 15px;
        border-radius: 9px;
        cursor: pointer;
        .icon {
            height: 23px;
        }
    }


}

// >----------------------------------------------------------------<
// >                             FOOTER                             <
// >----------------------------------------------------------------<


.footer {
    padding: 0;
    // height: var(--size-h__block-container-footer_desktop);
    background: url("../../../assets/img/png/noise_transparent.png"),
                var(--color--footer-gradient), var(--color--footer-background);
    & .container {
        padding-top: 56px;
        padding-bottom: 59px;
        @media (max-width: 1024px) {
            padding-top: 30px;
            padding-bottom: 64px;

        }
    }

    .footer-layout {
        width: 100%;
        display: flex;
        justify-content: space-between;
        // gap: 160px;
        @media (max-width: 10224px) {
            padding: 0 34px;
            flex-wrap: wrap;
        }
    }

    .footer__contacts,
    .footer__location {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .footer__contacts {
        max-width: 279px;
    }

    .footer__location {
        position: relative;
        left: 160px;
        max-width: 302px;
        @media (max-width: 1120px) {
            left: 60px;
        }
        @media (max-width: 1024px) {
            left: 0;
        }
    }

    .footer__info {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 20px;
    }

    .icon-h32_marker {
        width: 22px; // fix icon size
    }

    .footer__primary-marker {
        margin-top: -6px;
    }

    .footer__secondary-marker {
        margin-top: -8px;
    }





    &__image {
        position: relative;
        width: 300px;
        // height: 310px;
        margin-left: 160px;
        max-width: 302px;
        @media (max-width: 1024px) {
            margin-left: 170px;
        }
        .image {
            position: absolute;
            bottom: -59px;
            right: 0;
            width: 300px;
            height: 310px;
            overflow: hidden;
            background-image: url("../../../assets/img/png/footer-puppy.png");
            background-repeat: no-repeat;
            background-size: contain;
            @media (max-width: 1024px) {
                position: relative;
                bottom: -63px;
            }
        }
    }

}








// .footer {
//     padding: 0;
//     // height: var(--size-h__block-container-footer_desktop);
//     background: url("../../../assets/img/png/noise_transparent.png"),
//                 var(--color--footer-gradient), var(--color--footer-background);
//     & .container {
//         padding-top: 56px;
//         padding-bottom: 60px;
//     }

//     .footer-layout {
//         display: flex;
//         justify-content: space-between;
//         // gap: 160px;
//     }

//     .footer__contacts,
//     .footer__location {
//         display: flex;
//         flex-direction: column;
//         gap: 40px;
//     }

//     .footer__contacts {
//         max-width: 279px;
//     }

//     .footer__location {
//         margin-left: 160px;
//         max-width: 302px;
//     }

//     .footer__info {
//         display: flex;
//         justify-content: start;
//         align-items: center;
//         gap: 20px;
//     }

//     .icon-h32_marker {
//         width: 22px; // fix icon size
//     }

//     .footer__primary-marker {
//         margin-top: -6px;
//     }

//     .footer__secondary-marker {
//         margin-top: -8px;
//     }







//     &__image {
//         position: relative;
//         width: 300px;
//         // height: 310px;
//         margin-left: 160px;
//         max-width: 302px;
//         .image {
//             position: absolute;
//             bottom: -60px;
//             right: 0;
//             width: 300px;
//             height: 310px;
//             overflow: hidden;
//             background-image: url("../../../assets/img/png/footer-puppy.png");
//             background-repeat: no-repeat;
//             background-size: contain;
//         }
//     }

// }


// .layout-2-columns {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
// }
// .layout-3-columns {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
// }

// .button {
//     display: grid;
//     justify-content: center;
//     align-content: center;
// }
