// >----------------------------------------------------------------<
// >                            IMPORT                              <
// >----------------------------------------------------------------<

@use "../../../style/scss/abstracts/mixins" as *;
@use "../../../style/scss/abstracts/breakpoints" as *;
// @use "../../../style/scss/main" as *;




// >----------------------------------------------------------------<
// >                            MIXINS                              <
// >----------------------------------------------------------------<

@mixin bgImgSVG($img) { // image.svg
    background-image: url("../../assets/svg/"+$img);
}




// >----------------------------------------------------------------<
// >                              ROOT                              <
// >----------------------------------------------------------------<

:root {

    // ^------------------------ size ------------------------
    --size-w__block-container_desktop: 1200px;

    --size-h__block-container-header_desktop: 64px;
    --size-h__block-container-main_desktop: 100%;
    --size-h__block-container-footer_desktop: 64px;
}




// >----------------------------------------------------------------<
// >                         START SETTINGS                         <
// >----------------------------------------------------------------<

// html, body {
//     height: 100%;
// }
html {
    scroll-behavior: smooth;
}
// ^------------------------ footer to buttom ------------------------
.body {
    height: 100%;
}

.body-container {
    height: 100%;
    // height: auto;
    scroll-behavior: smooth;
    position: relative;
    overflow-x: hidden;
    &.scroll-lock {
        overflow: hidden;
    }
}


// .body {
//     scroll-behavior: smooth;
//     position: relative;
//     .body-container {
//         position: relative;
//         &.scroll-lock {
//             // position: fixed;
//             // overflow: hidden;
//             position: fixed;
//             overflow: scroll;
//             top: 0; right: 0; bottom: 0; left: 0;
//             width: 100vw;
//             height: 100vw;
//             background-color: red;
//         }
// //     //     height: min(100%, 100vh);
// //     //     width: 100vw;
// //     //     display: flex;
// //     //     flex-direction: column;
//         // overflow-x: hidden;
//     }
//     //     display: flex;
// //     flex-direction: column;
// //     justify-content: space-between;
// //     max-width: 1440px;
// //     height: 100%;
// //     margin: 0 auto;
// //     background-color: green;
// //     // .main {
// //     //     flex: 1;
// //     // }
// }

// // ^------------------------ block container ------------------------

.container {
    display: flex;
    max-width: var(--size-w__block-container_desktop);
    min-height: 100%;
    margin: 0 auto;

    @media (max-width: $bp__add-static-margins) {
        margin: 0 30px;
    }
    @media (max-width: $bp__tab-to-mob-low) {
        margin: 0 10px;
    }
}



// >----------------------------------------------------------------<
// >                             HEADER                             <
// >----------------------------------------------------------------<

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    padding-top: 60px;
    // z-index: 1000;

    @media (max-width: $bp__add-static-margins) {
        padding-top: 30px;
    }
    // height: var(--size-h__block-container-header_desktop);
    .container {
        position: relative;
        display: flex;
        align-items: center;
        @media (max-width: $bp__hide-header-mobile) {
            justify-content: space-between;
        }
    }

    &__logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 60px;

        .logo {
            padding-bottom: 10px;
        }
        .subtitle {

        }

    }

    &__navigation{
        display: flex;
        margin-left: auto;
        .navigation {
            display: flex;
            gap: 35px;
            @media (max-width: $bp__tab-to-mob-hi) {
                gap: 20px;
            }
        }
    }



    // ^------------------------ burger menu ------------------------
    // @media (max-width: $bp__hide-header-mobile) {
    //     .navigation.show {
    //         right: -10px;
    //     }
    // }
    // @media (max-width: $bp__hide-header-mobile) {
        // .header__logo {
        //     z-index: 2000;
        //     position: absolute;
        //     top: -20px;
        //     right: 0px;
        // }

    // .header,
    // .header.container {
    //     @media (max-width: $bp__hide-header-mobile) {
    //         position: absolute;
    //         top: 0;
    //         left: 0;
    //         width: 100vw;
    //         height: 100vh;
    //     }
    // }

    .navigation {
        // @media (max-width: $bp__hide-header-mobile) {
        //     display: none;
        // }
            @media (max-width: $bp__hide-header-mobile) {
                // overflow-y: scroll;
                // margin: 100px 0;

                position: absolute;
                top: -30px;
                right: calc(-20px + -320px);
                z-index: 1800;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 41px;
                width: 320px;
                height: 100vh;
                margin: 0 -10px;
                background-color: var(--color--dark-3xl);
                transition: right 0.5s ease-in-out;
            }
            @media (max-width: $bp__tab-to-mob-low) {
                right:  calc(0px + -320px);
            }
            &.show {
                @media (max-width: $bp__hide-header-mobile) {
                    right: calc(-20px);
                }
                @media (max-width: $bp__tab-to-mob-low) {
                    right:  calc(0px);
                }
            }
            .link {
                @media (max-width: $bp__hide-header-mobile) {
                    font-family: var(--font__font-family_p3);
                    font-style: var(--font__font-style_p3);
                    font-size: var(--font__font-size_p3);
                    line-height: var(--font__line-height_p3);
                    font-weight: var(--font__font-weight_p3);
                    letter-spacing: var(--font__letter-spacing_p3);
                }
            }

        }

    .header__logo {
        transform-origin: 0% 50%;
        animation-name: logoTeleportationHome;
        animation-duration: 0.5s;
        animation-timing-function: cubic-bezier(.30,-0.30,.70,1.30);
        animation-timing-function: ease-in-out;
    }

    .header__logo.show {
        @media (max-width: $bp__hide-header-mobile) {
            position: absolute;
            width: 186px;
            top: 0;
            right: 96px;
            z-index: 2000;
        }
        @media (max-width: $bp__tab-to-mob-low) {
            right: 116px;
        }
        transform-origin: 100% 50%;
        animation-name: logoTeleportationMenu;
        animation-duration: 0.5s;
        animation-timing-function: cubic-bezier(.30,-0.30,.70,1.30);
        animation-timing-function: ease-in-out;
        // animation-name: logoTeleportation;
        // animation-duration: 0.5s;
    }
    @keyframes logoTeleportationMenu {
        0% { transform: scale(0%); opacity: 0;}
        // 25% { transform: scale(110%); opacity: 1;}
        // 50% { transform: scale(90%); opacity: 1;}
        // 70% { transform: scale(105%); opacity: 1;}
        // 85% { transform: scale(95%); opacity: 1;}
        // 95% { transform: scale(102%); opacity: 1;}
        100% { transform: scale(100%); opacity: 1;}
    }

    @keyframes logoTeleportationHome {
        0% { transform: scale(0%); opacity: 0;}
        // 25% { transform: scale(110%); opacity: 1;}
        // 50% { transform: scale(90%); opacity: 1;}
        // 70% { transform: scale(105%); opacity: 1;}
        // 85% { transform: scale(95%); opacity: 1;}
        // 95% { transform: scale(102%); opacity: 1;}
        100% { transform: scale(100%); opacity: 1;}
    }





        //     &.show {
        //         @media (max-width: $bp__hide-header-mobile) {
        //             flex-direction: column;
        //             gap: 40px;
        //             align-items: center;
        //             .link {
        //                 font-family: var(--font__font-family_p3);
        //                 font-size: var(--font__font-size_p3);
        //                 line-height: var(--font__line-height_p3);
        //                 font-weight: var(--font__font-weight_p3);
        //                 letter-spacing: var(--font__letter-spacing_p3);
        //                 font-style: var(--font__font-style_p3);
        //             }
        //         }
        //     }
        // }
        // &.show {
        //     @media (max-width: $bp__hide-header-mobile) {
        //         position: absolute;
        //         right: -30px;
        //         top: -30px;
        //         width: 320px;
        //         height: 100vh;
        //         justify-content: center;
        //         align-items: center;
        //         background-color: var(--color--dark-3xl);
        //         z-index: 1500;
        //         // display: none;
        //         .header__navigation-logo {
        //             display: flex;
        //             flex-direction: column;
        //             align-items: center;
        //             height: 60px;
        //             position: absolute;
        //             z-index: 1400px;
        //             left: 10px;
        //             top: 30px;

        //             .logo {
        //                 padding-bottom: 10px;
        //             }
        //         }
        //     }
        // }






}




// >----------------------------------------------------------------<
// >                              MAIN                              <
// >----------------------------------------------------------------<

.main {
    // height: var(--size-h__block-container-main_desktop);
    background-color: white;
    & .container {
        // content: "500px";
    }
}




// ^------------------------ Fold ------------------------

.fold {
    background: url("../../../assets/img/png/noise_transparent.png"),
                var(--color--main-gradient), var(--color--main-background);
    background-repeat: repeat;

    overflow-x: hidden;

    & .container{
        display: flex;
        justify-content: space-between;
        align-items: end;

        @media (max-width: $bp__pc-to-tab-low) {
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        // @media (max-width: $bp__tab-to-mob-hi) {
        //     max-width: 300px;
        // }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 42px;
        max-width: 460px;
        padding-top: 343px;
        padding-bottom: 243px;
        // padding-top: 223px;
        @media (max-width: $bp__pc-to-tab-low) {
            padding-top: 150px;
            padding-bottom: 100px;
            .button {
                align-self: center;
            }
        }
        @media (max-width: $bp__tab-to-mob-hi) {
            padding-bottom: 105px;
            align-items: center;
            max-width: 300px;
        }
    }

    .content__header {
        max-width: 310px;
        height: 114px;
        @media (max-width: $bp__tab-to-mob-hi) {
            max-width: 206px;
            height: 64px;
            text-align: center;
        }
    }

    .p1 {
        @media (max-width: $bp__tab-to-mob-hi) {
            text-align: center;
        }
    }

    &__image-container {
        position: relative;
        width: 698px;
        height: 728px;
        @media (max-width: $bp__pc-to-tab-low) {
            width: 569px;
            height: 593px;
        }
        @media (max-width: $bp__tab-to-mob-hi) {
            width: 300px;
            height: 272px;
            display: flex;
            justify-content: end;
        }
    }
    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 698px;
        height: 728px;
        overflow: hidden;
        background-image: url("../../../assets/img/png/fold-puppy.png");
        background-repeat: no-repeat;
        background-size: contain;

        @media (max-width: $bp__pc-to-tab-low) {
            width: 569px;
            height: 593px;
            left: 70px;
        }
        @media (max-width: $bp__tab-to-mob-hi) {
            position: relative;
            width: 260px;
            height: 272px;
            left: 0;
        }
    }
}




// ^------------------------ About ------------------------

.about {
    padding-top: 80px;
    padding-bottom: 100px;

    @media (max-width: $bp__tab-to-mob-low) {
        padding-top: 42px;
        padding-bottom: 42px;
    }

    .container{
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        @media (max-width: $bp__pc-to-tab-low) {
            justify-content: center;
        }

    }
    .about__layout {
        // display: flex;
        // justify-content: center;
        align-items: center;
        // flex-wrap: wrap;
        @media (max-width: $bp__pc-to-tab-low) {
            flex-direction: column-reverse;
            max-width: 430px;
        }
        @media (max-width: $bp__tab-to-mob-low) {
            max-width: 270px;
        }
    }

    .about__image {
        padding-left: 175px;
        @media (max-width: $bp__pc-to-tab-hi) {
            padding-left: 140px;
        }
        @media (max-width: $bp__pc-to-tab-low) {
            padding: 0;
        }
        @media (max-width: $bp__tab-to-mob-hi) {
            display: flex;
            justify-content: center;
            width: 320px;
        }
        .image{
            width: 300px;
            height: 408px;
            background-image: url("../../../assets/img/png/about-pets.png");
            background-repeat: no-repeat;
            @media (max-width: $bp__tab-to-mob-hi) {
                background-size: 260px 354px;
                width: 260px;
                height: 354px;
            }
        }
    }

    .about__content {
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding-right: 175px;
        @media (max-width: $bp__pc-to-tab-low) {
            padding: 0;
            padding-bottom: 80px;
        }
        @media (max-width: $bp__tab-to-mob-hi) {
            padding-bottom: 42px;
        }

        @media (max-width: $bp__tab-to-mob-hi) {
            align-items: center;
            text-align: justify;
            gap: 22px;
        }
        .h3 {
            max-width: 370px;
            @media (max-width: $bp__tab-to-mob-hi) {
                max-width: 232px;
                text-align: center;
                height: 64px;
                margin-bottom: 3px;
            }
        }
    }
}




// ^------------------------ Pets ------------------------

.pets {
    background: var(--color--light-l);
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;

    @media (max-width: $bp__tab-to-mob-low) {
        padding-top: 42px;
        padding-bottom: 42px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        // gap: 60px;
        // @media (max-width: $bp__tab-to-mob-hi) {
        //     gap: 41px;
        // }
        @media (max-width: 767px) {
            gap: 41px;
            max-width: 300px;
        }
    }
    .pets__slider {
        width: 100%;
        display: flex;
        // justify-content: center;
        justify-content: space-between;
        // gap: clamp(20px, 4.4%, 53px);
        align-items: center;

        @media (max-width: 767px) {
            gap: 20px;
        }
        @media (max-width: $bp__tab-to-mob-hi) {
            gap: 20px;
        }

        .pets__icon-button {
            width: 52px;
            height: 52px;
            &_left {
                margin-right: 4.4%;
                @media (max-width: 824px) {
                    margin-right: 12px;
                }
                @media (max-width: 767px) {
                    align-self: start;
                    margin-right: 0px;
                    order: 1;
                }
                @media (max-width: $bp__tab-to-mob-hi) {
                    align-self: start;
                    margin-right: 0px;
                    order: 1;
                }
            }

            &_right {
                margin-left: 4.4%;
                @media (max-width: 824px) {
                    margin-left: 12px;
                }
                @media (max-width: 767px) {
                    margin-left: 0px;
                    order: 2;
                }
                @media (max-width: $bp__tab-to-mob-hi) {
                    margin-left: 0px;
                    order: 2;
                }
            }

        }
        @media (max-width: 767px) {
            justify-content: center;
            flex-wrap: wrap;
            column-gap: 80px;
        }
        @media (max-width: $bp__tab-to-mob-hi) {
            justify-content: center;
            flex-wrap: wrap;
            column-gap: 80px;
        }
    }

    .h3 {
        max-width: 400px;
        height: 90px;
        text-align: center;

        @media (max-width: $bp__tab-to-mob-hi) {
            height: 64px;
        }
    }

    .pets__layout {
        display: flex;
        // padding: 0 53px;
        width: min(990px, 100%);
        position: relative;
        overflow: hidden;
        // gap: 90px;
        justify-content: center;
        align-items: center;
        height: 555px;
        // @media (max-width: $bp__tab-to-mob-hi) {
        //     height: 517px;
        // }

        @media (max-width: 767px) {
            height: 435px;
        }
        @include setLayout((100%-180)/3, -1);

        @media (max-width: 1279px) {
            width: 580px;
        }
        @media (max-width: 767px) {
            width: 270px;
        }
        .pets-cards__container {
            position: relative;
            left: calc(-990px);
            display: flex;
            gap: 90px;
            // margin: 0 90px;
            height: 435px;
            // height: 475px;
            width: calc(990px * 3);
            // background: burlywood;

            &.move-left {
                animation-name: transition-left;
                animation-duration: 1s;
            }

            &.move-right {
                animation-name: transition-right;
                animation-duration: 1s;
            }

            @keyframes transition-left { // backward
                from { left: calc(-990px + -0px); }
                to { left: 30px; }
            }
            @keyframes transition-right { // forward
                from { left: calc(-990px + -30px); }
                to { left: calc((-990px * 2) + -30px); }
            }



            @media (max-width: 1279px) {
                // justify-content: space-evenly;
                gap: 40px;
                & > :nth-child(3n) {
                    display: none;
                    background-color: red;
                }
                width: calc((580px * 3) + (40px * 2));
                left: calc(-580px + -40px);
                @keyframes transition-left {
                    from { left: calc(-580px + -40px); }
                    to { left: 0; }
                }
                @keyframes transition-right {
                    from { left: calc(-580px + -40px); }
                    to { left: calc((-580px + -40px) * 2); }
                }
            }

            @media (max-width: 767px) {
                // justify-content: space-evenly;
                gap: 0;
                & > :nth-child(3n-1) {
                    display: none;
                    background-color: red;
                }
                width: calc(270px * 3);
                left: calc(-270px);
                @keyframes transition-left {
                    from { left: calc(-270px); }
                    to { left: 0; }
                }
                @keyframes transition-right {
                    from { left: calc(-270px); }
                    to { left: calc(-540px); }
                }
            }

            // @media (max-width: 824px) {
            //     justify-content: space-between;
            // }
            // @media (max-width: $bp__tab-to-mob-hi) {
            //     justify-content: center;
            //     >:nth-last-child(-n+2) {
            //         display: none;
            //     }
            // }
        }


        // justify-content: space-between;
        // margin: 0 4.4%;
        // gap: 9%;
        // @media (max-width: $bp__add-static-margins) {
        //     // @include setLayout(400px, 90px);
        //     gap: 7.5%;
        //     background:red;
        // }
        // flex-wrap: wrap;
    }
}




// ^------------------------ Help ------------------------

.help {
    padding-top: 80px;
    padding-bottom: 100px;

    @media (max-width: $bp__tab-to-mob-low) {
        padding-top: 42px;
        padding-bottom: 42px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        @media (max-width: $bp__tab-to-mob-hi) {
            gap: 42px;
        }
    }

    .h3{
        max-width: 310px;
        text-align: center;
        height: 90px;
        @media (max-width: $bp__tab-to-mob-hi) {
            max-width: 260px;
            height: 64px;
        }
    }

    .help__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 55px;
        column-gap: 120px;
        @media (max-width: $bp__pc-to-tab-hi) {
            column-gap: 60px;
        }
        @media (max-width: $bp__tab-to-mob-hi) {
            column-gap: 30px;
            row-gap: 30px;
            justify-content: start;
            max-width: 290px;
        }

        .help__list-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;

            @media (max-width: $bp__pc-to-tab-hi) {
                width: 170px;
            }
            @media (max-width: $bp__tab-to-mob-hi) {
                gap: 21px;
                width: 130px;
            }
            .h4 {
                @media (max-width: $bp__tab-to-mob-hi) {
                    font-family: var(--font__font-family_h5);
                    font-size: var(--font__font-size_h5);
                    line-height: var(--font__line-height_h5);
                    font-weight: var(--font__font-weight_h5);
                    letter-spacing: var(--font__letter-spacing_h5);
                    font-style: var(--font__font-style_h5);
                }
            }
        }
    }

}




// ^------------------------ Donation ------------------------

.donation {
    padding-top: 80px;
    padding-bottom: 100px;
    background: var(--color--light-l);
    @media (max-width: $bp__tab-to-mob-low) {
        padding-top: 42px;
        padding-bottom: 42px;
    }
    @media (max-width: $bp__tab-to-mob-low) {
        display: flex;
        justify-content: center;
    }
    .container {
        display: flex;
        align-items: center;
        @media (max-width: $bp__pc-to-tab-hi) {
            justify-content: center;
        }
        @media (max-width: $bp__tab-to-mob-low) {
            max-width: 300px;
        }
    }

    .donation_layout{
        align-items: center;
        @media (max-width: $bp__pc-to-tab-hi) {
            flex-direction: column-reverse;
            // max-width: 430px;
        }
        @media (max-width: $bp__tab-to-mob-low) {
            // align-items: center;
            max-width: 300px;
        }
    }

    &__image {
        padding-left: 143px;
        padding-top: 11px;
        @media (max-width: $bp__pc-to-tab-hi) {
            padding: 0;
        }
        .image{
            position: relative;
            top: -5px;
            width: 505px;
            height: 261px;
            background-image: url("../../../assets/img/png/donation-dog.png");
            background-repeat: no-repeat;
            @media (max-width: $bp__pc-to-tab-hi) {
                top: 0;
            }
            @media (max-width: $bp__tab-to-mob-hi) {
                // top: -20px;
                background-size: 260px 135px;
                width: 260px;
                height: 135px;
            }
        }
    }

    .donation__content {
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;

        @media (max-width: $bp__tab-to-mob-low) {
            align-items: center;
        }

        .h3 {
            max-width: 300px;
            height: 90px;
            @media (max-width: $bp__tab-to-mob-low) {
                text-align: center;
                max-width: 220px;
                height: 64px;
            }
        }
        .h5 {
            height: 17px;
            @media (max-width: $bp__tab-to-mob-low) {
                text-align: center;
                height: 24px;
                font-size: 15px;
                letter-spacing: 0;
            }
        }
        .p2 {
            max-width: 380px;
            @media (max-width: $bp__tab-to-mob-low) {
                max-width: 280px;
                text-align: justify;
            }
        }

        @media (max-width: $bp__pc-to-tab-hi) {
            padding: 0;
            padding-bottom: 60px;
        }
        @media (max-width: $bp__tab-to-mob-hi) {
            padding-bottom: 40px;
        }
    }
    .donation__credit-card {
        background-color: var(--color--primary);
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 10px 15px;
        border-radius: 9px;

        .h4 {

            @media (max-width: $bp__tab-to-mob-low) {
                font-size: 15px;
            }
        }

        cursor: pointer;
        .icon {
            height: 23px;
        }
    }


}




// // >----------------------------------------------------------------<
// // >                             FOOTER                             <
// // >----------------------------------------------------------------<


// .footer {
//     padding: 0;
//     // height: var(--size-h__block-container-footer_desktop);
//     background: url("../../../assets/img/png/noise_transparent.png"),
//                 var(--color--footer-gradient), var(--color--footer-background);
//     & .container {
//         padding-top: 56px;
//         padding-bottom: 59px;
//         @media (max-width: $bp__pc-to-tab-low) {
//             padding-top: 30px;
//             padding-bottom: 64px;

//         }
//     }

//     .footer-layout {
//         width: 100%;
//         display: flex;
//         justify-content: space-between;
//         // gap: 160px;
//         @media (max-width: $bp__pc-to-tab-low) {
//             padding: 0 34px;
//             flex-wrap: wrap;
//         }
//     }

//     .footer__contacts,
//     .footer__location {
//         display: flex;
//         flex-direction: column;
//         gap: 40px;
//     }

//     .footer__contacts {
//         max-width: 279px;
//     }

//     .footer__location {
//         position: relative;
//         left: 160px;
//         max-width: 302px;
//         @media (max-width: $bp__pc-to-tab-hi) {
//             left: 60px;
//         }
//         @media (max-width: $bp__pc-to-tab-low) {
//             left: 0;
//         }
//     }

//     .footer__info {
//         display: flex;
//         justify-content: start;
//         align-items: center;
//         gap: 20px;
//     }

//     .icon-h32_marker {
//         width: 22px; // fix icon size
//     }

//     .footer__primary-marker {
//         margin-top: -6px;
//     }

//     .footer__secondary-marker {
//         margin-top: -8px;
//     }





//     &__image {
//         position: relative;
//         width: 300px;
//         // height: 310px;
//         margin-left: 160px;
//         max-width: 302px;
//         @media (max-width: $bp__pc-to-tab-low) {
//             margin-left: 170px;
//         }
//         .image {
//             position: absolute;
//             bottom: -59px;
//             right: 0;
//             width: 300px;
//             height: 310px;
//             overflow: hidden;
//             background-image: url("../../../assets/img/png/footer-puppy.png");
//             background-repeat: no-repeat;
//             background-size: contain;
//             @media (max-width: $bp__pc-to-tab-low) {
//                 position: relative;
//                 bottom: -63px;
//             }
//         }
//     }

// }
