// >----------------------------------------------------------------<
// >                            IMPORT                              <
// >----------------------------------------------------------------<

@use "./scss/index" as *;
// @import "./custom";




// >----------------------------------------------------------------<
// >                             ROOT                               <
// >----------------------------------------------------------------<

:root {

    // ^------------------------ size ------------------------
    --size-w__block-container_desktop: 1216px; // block container --> 72px * 12 columns / gutter 32 px

    // --size-h__block-container-header_desktop: 32px;
    // --size-h__block-container-main_desktop: auto;
    // --size-h__block-container-footer_desktop: 64px;
}




// >----------------------------------------------------------------<
// >                         START SETTINGS                         <
// >----------------------------------------------------------------<

.container {
//     max-height: 100%;
    margin: 0 auto;
//     @media (max-width: 1339px) {
//         margin: 0 30px;
//     }
//     @media (max-width: 639px) {
//         margin: 0 16px;
//     }
//     @media (max-width: 479px) {
//         margin: 0 16px;
//     }
}




// >----------------------------------------------------------------<
// >                             HEADER                             <
// >----------------------------------------------------------------<

.header {
	min-height: 50px; // ! remove when add content
	background: var(--color-fl-2);
}




// >----------------------------------------------------------------<
// >                              MAIN                              <
// >----------------------------------------------------------------<

.main {
	background: var(--color-fl-0);
}




// >----------------------------------------------------------------<
// >                             FOOTER                             <
// >----------------------------------------------------------------<

.footer {
	min-height: 50px; // ! remove when add content
	background: var(--color-fl-1);
}
