
%display-flex-center-center {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.garage {
	display: flex;
	flex-direction: column;
	gap: 16px;

	.garage__options {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: calc( var(--col-gap) / 2);
		margin-bottom: 16px;

		.options__cars-count {
			@extend %display-flex-center-center;
			gap: calc( var(--col-gap) / 2);
		}

		.options__race-buttons {
			@extend %display-flex-center-center;
			gap: calc( var(--col-gap) / 2);
		}

		.options__create-car {
			@extend %display-flex-center-center;
			gap: calc( var(--col-gap) / 2);
		}

		.create-car__inputs {
			@extend %display-flex-center-center;
		}

		.options__pagination-buttons {
			@extend %display-flex-center-center;
			gap: calc( var(--col-gap) / 2);
		}

		.create-car__color {
			&::-webkit-color-swatch {
				border-radius: 0 4px 4px 0;
				border-left: none;
			}
			&::-moz-color-swatch {
				border-radius: 0 4px 4px 0;
				border-left: none;
			}
		}
	}

	.box {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	.controls {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: calc( var(--col-gap) / 2);


		.controls__cars-props {
			@extend %display-flex-center-center;
			gap: calc( var(--col-gap) / 2);
		}

		.controls__cars-action {
			@extend %display-flex-center-center;
			gap: calc( var(--col-gap) / 2);
		}

		.cars-prop_update {
			@extend %display-flex-center-center;
			gap: calc( var(--col-gap) / 2);
		}

		.cars-update-input {
			@extend %display-flex-center-center;
		}

		.cars-update-input__color {
			&::-webkit-color-swatch {
				border-radius: 0 4px 4px 0;
				border-left: none;
			}
			&::-moz-color-swatch {
				border-radius: 0 4px 4px 0;
				border-left: none;
			}
		}
	}

	.track {
		border-bottom: 2px solid var(--color-bg-2);
	}
}
