:root {
  --size-w__block-container_desktop: 1200px;
  --size-h__block-container-header_desktop: 64px;
  --size-h__block-container-main_desktop: 100%;
  --size-h__block-container-footer_desktop: 64px;
}

.body .body-container {
  position: relative;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: var(--size-w__block-container_desktop);
  min-height: 100%;
  margin: 0 auto;
}
@media (max-width: 1279px) {
  .container {
    margin: 0 30px;
  }
}
@media (max-width: 480px) {
  .container {
    margin: 0 10px;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  padding-top: 60px;
}
@media (max-width: 1279px) {
  .header {
    padding-top: 30px;
  }
}
.header .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 680px) {
  .header .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}
.header__logo .logo {
  padding-bottom: 10px;
}
.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
.header__navigation .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}
@media (max-width: 740px) {
  .header__navigation .navigation {
    gap: 20px;
  }
}
@media (max-width: 680px) {
  .header .navigation {
    display: none;
  }
}
@media (max-width: 680px) {
  .header .navigation.show {
    position: absolute;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    right: -20px;
    top: -30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 320px;
    height: 100vh;
    background-color: var(--color--dark-3xl);
    z-index: 1500;
    gap: 41px;
    margin: 0 -10px;
  }
}
@media (max-width: 480px) {
  .header .navigation.show {
    right: 0px;
  }
}
@media (max-width: 680px) {
  .header .navigation.show .link {
    font-family: var(--font__font-family_p3);
    font-size: var(--font__font-size_p3);
    line-height: var(--font__line-height_p3);
    font-weight: var(--font__font-weight_p3);
    letter-spacing: var(--font__letter-spacing_p3);
    font-style: var(--font__font-style_p3);
  }
}
@media (max-width: 680px) {
  .header .header__logo.show {
    position: absolute;
    width: 186px;
    top: 0;
    right: 96px;
    z-index: 2000;
  }
}
@media (max-width: 480px) {
  .header .header__logo.show {
    right: 116px;
  }
}

.main {
  background-color: white;
}
.fold {
  background: url("../../../assets/img/png/noise_transparent.png"), var(--color--main-gradient), var(--color--main-background);
  background-repeat: repeat;
  overflow-x: hidden;
}
.fold .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
@media (max-width: 1024px) {
  .fold .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.fold__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 42px;
  max-width: 460px;
  padding-top: 343px;
  padding-bottom: 243px;
}
@media (max-width: 1024px) {
  .fold__content {
    padding-top: 150px;
    padding-bottom: 100px;
  }
  .fold__content .button {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media (max-width: 740px) {
  .fold__content {
    padding-bottom: 105px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 300px;
  }
}
.fold .content__header {
  max-width: 310px;
  height: 114px;
}
@media (max-width: 740px) {
  .fold .content__header {
    max-width: 206px;
    height: 64px;
    text-align: center;
  }
}
@media (max-width: 740px) {
  .fold .p1 {
    text-align: center;
  }
}
.fold__image-container {
  position: relative;
  width: 698px;
  height: 728px;
}
@media (max-width: 1024px) {
  .fold__image-container {
    width: 569px;
    height: 593px;
  }
}
@media (max-width: 740px) {
  .fold__image-container {
    width: 300px;
    height: 272px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}
.fold__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 698px;
  height: 728px;
  overflow: hidden;
  background-image: url("../../../assets/img/png/fold-puppy.png");
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 1024px) {
  .fold__image {
    width: 569px;
    height: 593px;
    left: 70px;
  }
}
@media (max-width: 740px) {
  .fold__image {
    position: relative;
    width: 260px;
    height: 272px;
    left: 0;
  }
}

.about {
  padding-top: 80px;
  padding-bottom: 100px;
}
@media (max-width: 480px) {
  .about {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}
@media (max-width: 1024px) {
  .about .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.about .about__layout {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1024px) {
  .about .about__layout {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    max-width: 430px;
  }
}
@media (max-width: 480px) {
  .about .about__layout {
    max-width: 270px;
  }
}
.about .about__image {
  padding-left: 175px;
}
@media (max-width: 1120px) {
  .about .about__image {
    padding-left: 140px;
  }
}
@media (max-width: 1024px) {
  .about .about__image {
    padding: 0;
  }
}
@media (max-width: 740px) {
  .about .about__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 320px;
  }
}
.about .about__image .image {
  width: 300px;
  height: 408px;
  background-image: url("../../../assets/img/png/about-pets.png");
  background-repeat: no-repeat;
}
@media (max-width: 740px) {
  .about .about__image .image {
    background-size: 260px 354px;
    width: 260px;
    height: 354px;
  }
}
.about .about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  padding-right: 175px;
}
@media (max-width: 1024px) {
  .about .about__content {
    padding: 0;
    padding-bottom: 80px;
  }
}
@media (max-width: 740px) {
  .about .about__content {
    padding-bottom: 42px;
  }
}
@media (max-width: 740px) {
  .about .about__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: justify;
    gap: 22px;
  }
}
.about .about__content .h3 {
  max-width: 370px;
}
@media (max-width: 740px) {
  .about .about__content .h3 {
    max-width: 232px;
    text-align: center;
    height: 64px;
    margin-bottom: 3px;
  }
}

.pets {
  background: var(--color--light-l);
  padding-top: 80px;
  padding-bottom: 100px;
}
@media (max-width: 480px) {
  .pets {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}
.pets .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}
@media (max-width: 740px) {
  .pets .container {
    gap: 41px;
  }
}
.pets .pets__slider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 740px) {
  .pets .pets__slider {
    gap: 20px;
  }
}
.pets .pets__slider .pets__icon-button {
  width: 52px;
  height: 52px;
}
.pets .pets__slider .pets__icon-button_left {
  margin-right: 4.4%;
}
@media (max-width: 824px) {
  .pets .pets__slider .pets__icon-button_left {
    margin-right: 12px;
  }
}
@media (max-width: 740px) {
  .pets .pets__slider .pets__icon-button_left {
    -ms-flex-item-align: start;
        align-self: start;
    margin-right: 0px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.pets .pets__slider .pets__icon-button_right {
  margin-left: 4.4%;
}
@media (max-width: 824px) {
  .pets .pets__slider .pets__icon-button_right {
    margin-left: 12px;
  }
}
@media (max-width: 740px) {
  .pets .pets__slider .pets__icon-button_right {
    margin-left: 0px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (max-width: 740px) {
  .pets .pets__slider {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
            column-gap: 80px;
  }
}
.pets .h3 {
  max-width: 400px;
  height: 90px;
  text-align: center;
}
@media (max-width: 740px) {
  .pets .h3 {
    height: 64px;
  }
}
.pets .pets__layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: min(990px, 100%);
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pets .pets__layout > * {
  -ms-flex-preferred-size: -26.6666666667%;
      flex-basis: -26.6666666667%;
}
@media (max-width: 1120px) {
  .pets .pets__layout {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .pets .pets__layout > :nth-last-child(-n+1) {
    display: none;
  }
}
@media (max-width: 824px) {
  .pets .pets__layout {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 740px) {
  .pets .pets__layout {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pets .pets__layout > :nth-last-child(-n+2) {
    display: none;
  }
}

.help {
  padding-top: 80px;
  padding-bottom: 100px;
}
@media (max-width: 480px) {
  .help {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}
.help .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}
@media (max-width: 740px) {
  .help .container {
    gap: 42px;
  }
}
.help .h3 {
  max-width: 310px;
  text-align: center;
  height: 90px;
}
@media (max-width: 740px) {
  .help .h3 {
    max-width: 260px;
    height: 64px;
  }
}
.help .help__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 55px;
  -webkit-column-gap: 120px;
     -moz-column-gap: 120px;
          column-gap: 120px;
}
@media (max-width: 1120px) {
  .help .help__list {
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
  }
}
@media (max-width: 740px) {
  .help .help__list {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    row-gap: 30px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    max-width: 290px;
  }
}
.help .help__list .help__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
@media (max-width: 1120px) {
  .help .help__list .help__list-item {
    width: 170px;
  }
}
@media (max-width: 740px) {
  .help .help__list .help__list-item {
    gap: 21px;
    width: 130px;
  }
}
@media (max-width: 740px) {
  .help .help__list .help__list-item .h4 {
    font-family: var(--font__font-family_h5);
    font-size: var(--font__font-size_h5);
    line-height: var(--font__line-height_h5);
    font-weight: var(--font__font-weight_h5);
    letter-spacing: var(--font__letter-spacing_h5);
    font-style: var(--font__font-style_h5);
  }
}

.donation {
  padding-top: 80px;
  padding-bottom: 100px;
  background: var(--color--light-l);
}
@media (max-width: 480px) {
  .donation {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}
.donation .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1120px) {
  .donation .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 480px) {
  .donation .container {
    max-width: 300px;
  }
}
.donation .donation_layout {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1120px) {
  .donation .donation_layout {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media (max-width: 480px) {
  .donation .donation_layout {
    max-width: 300px;
  }
}
.donation__image {
  padding-left: 143px;
  padding-top: 11px;
}
@media (max-width: 1120px) {
  .donation__image {
    padding: 0;
  }
}
.donation__image .image {
  position: relative;
  top: -5px;
  width: 505px;
  height: 261px;
  background-image: url("../../../assets/img/png/donation-dog.png");
  background-repeat: no-repeat;
}
@media (max-width: 1120px) {
  .donation__image .image {
    top: 0;
  }
}
@media (max-width: 740px) {
  .donation__image .image {
    background-size: 260px 135px;
    width: 260px;
    height: 135px;
  }
}
.donation .donation__content {
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 20px;
}
@media (max-width: 480px) {
  .donation .donation__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.donation .donation__content .h3 {
  max-width: 300px;
  height: 90px;
}
@media (max-width: 480px) {
  .donation .donation__content .h3 {
    text-align: center;
    max-width: 220px;
    height: 64px;
  }
}
.donation .donation__content .h5 {
  height: 17px;
}
@media (max-width: 480px) {
  .donation .donation__content .h5 {
    text-align: center;
    height: 24px;
    font-size: 15px;
    letter-spacing: 0;
  }
}
.donation .donation__content .p2 {
  max-width: 380px;
}
@media (max-width: 480px) {
  .donation .donation__content .p2 {
    max-width: 280px;
    text-align: justify;
  }
}
@media (max-width: 1120px) {
  .donation .donation__content {
    padding: 0;
    padding-bottom: 60px;
  }
}
@media (max-width: 740px) {
  .donation .donation__content {
    padding-bottom: 40px;
  }
}
.donation .donation__credit-card {
  background-color: var(--color--primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding: 10px 15px;
  border-radius: 9px;
  cursor: pointer;
}
@media (max-width: 480px) {
  .donation .donation__credit-card .h4 {
    font-size: 15px;
  }
}
.donation .donation__credit-card .icon {
  height: 23px;
}/*# sourceMappingURL=style.css.map */