// $1279 1 2
// $1259 1
// $1120 1 10
// $1024 8 13
// $720 9
// $680 2
// $480 7
// ^------------------------ PC ------------------------
$bp__pc-to-tab-hi: 1120px;
$bp__pc-to-tab-low: 1024px;


// ^------------------------ Mobile ------------------------
// 824
$bp__tab-to-mob-hi: 740px;
// $bp__tab-to-mob-mid: 680px;
$bp__tab-to-mob-low: 480px;

$bp__add-static-margins: 1279px;
$bp__hide-cards-pc: 1259px;
$bp__hide-header-mobile: 680px;
$bp__fix-footer-mobile: 680px;
