@use "variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/breakpoints" as *;

// >----------------------------------------------------------------<
// >                           VARIBLES                             <
// >----------------------------------------------------------------<
$font-primary__path: "../../assets/fonts/YesevaOne/";
$font-secondary__path: "../../assets/fonts/Montserrat/static/";
$font-tertiary__path: "../../assets/fonts/Noto/static/NotoSansMono/";
$font-primary__family-name: "Yeseva One";
$font-secondary__family-name: "Montserrat";
$font-tertiary__family-name: "Noto";


// ^------------------------ fonts varibles ------------------------

$font-family__primary:         "Georgia", "Yeseva One", serif;
$font-family__secondary:       "Arial", "Montserrat", system-ui;
$font-family__tertiary:        "Noto", monospace;

$font-weight__black:       900;
$font-weight__extra-bold:  800;
$font-weight__bold:        700;
$font-weight__semi-bold:   600;
$font-weight__medium:      500;
$font-weight__regular:     400;
$font-weight__light:       300;
$font-weight__extra-light: 200;
$font-weight__thin:        100;


// >----------------------------------------------------------------<
// >                            MIXINS                              <
// >----------------------------------------------------------------<

// @mixin initFont($font-family-name, $font-path, $font-family-file, $font-weight) {
//     font-family: $font-family-name;
//     src: url($font-path + $font-family-file);
//     font-weight: $font-weight;
// }

// @mixin setFont($font-family, $font-size, $font-weight, $font-line-height, $letter-spacing: 0, $font-style) {
//     font-family: $font-family;
//     font-size: $font-size;
//     line-height: $font-line-height;
//     font-weight: $font-weight;
//     letter-spacing: $letter-spacing;
//     font-style: $font-style;
// }

// @mixin setTypoElem($elem, $font-family, $font-size, $font-weight, $font-line-height, $letter-spacing, $font-style: normal) {
//     .#{$elem} {
//         #{--font__font-family_ + $elem}: #{$font-family};
//         #{--font__font-size_ + $elem}: #{$font-size};
//         #{--font__line-height_ + $elem}: #{$font-line-height};
//         #{--font__font-weight_ + $elem}: #{$font-weight};
//         #{--font__letter-spacing_ + $elem}: #{$letter-spacing};
//         #{--font__font-style_ + $elem}: #{$font-style};
//     }
// }


// >----------------------------------------------------------------<
// >                            FONTS                               <
// >----------------------------------------------------------------<

@font-face { @include initFont($font-primary__family-name, $font-primary__path, "YesevaOne-Regular.ttf", 400) }

@font-face { @include initFont($font-secondary__family-name, $font-secondary__path, "Montserrat-Black.ttf", 900) }
@font-face { @include initFont($font-secondary__family-name, $font-secondary__path, "Montserrat-ExtraBold.ttf", 800) }
@font-face { @include initFont($font-secondary__family-name, $font-secondary__path, "Montserrat-Bold.ttf", 700) }
@font-face { @include initFont($font-secondary__family-name, $font-secondary__path, "Montserrat-SemiBold.ttf", 600) }
@font-face { @include initFont($font-secondary__family-name, $font-secondary__path, "Montserrat-Medium.ttf", 500) }
@font-face { @include initFont($font-secondary__family-name, $font-secondary__path, "Montserrat-Regular.ttf", 400) }
@font-face { @include initFont($font-secondary__family-name, $font-secondary__path, "Montserrat-Light.ttf", 300) }
@font-face { @include initFont($font-secondary__family-name, $font-secondary__path, "Montserrat-ExtraLight.ttf", 200) }
@font-face { @include initFont($font-secondary__family-name, $font-secondary__path, "Montserrat-Thin.ttf", 100) }

@font-face { @include initFont($font-tertiary__family-name, $font-tertiary__path, "NotoSansMono-Black.ttf", 900) }
@font-face { @include initFont($font-tertiary__family-name, $font-tertiary__path, "NotoSansMono-ExtraBold.ttf", 800) }
@font-face { @include initFont($font-tertiary__family-name, $font-tertiary__path, "NotoSansMono-Bold.ttf", 700) }
@font-face { @include initFont($font-tertiary__family-name, $font-tertiary__path, "NotoSansMono-SemiBold.ttf", 600) }
@font-face { @include initFont($font-tertiary__family-name, $font-tertiary__path, "NotoSansMono-Medium.ttf", 500) }
@font-face { @include initFont($font-tertiary__family-name, $font-tertiary__path, "NotoSansMono-Regular.ttf", 400) }
@font-face { @include initFont($font-tertiary__family-name, $font-tertiary__path, "NotoSansMono-Light.ttf", 300) }
@font-face { @include initFont($font-tertiary__family-name, $font-tertiary__path, "NotoSansMono-ExtraLight.ttf", 200) }
@font-face { @include initFont($font-tertiary__family-name, $font-tertiary__path, "NotoSansMono-Thin.ttf", 100) }

// >----------------------------------------------------------------<
// >                             TOKENS                             <
// >----------------------------------------------------------------<

:root {

    // ^------------------------ typography elements ------------------------

    // font-family, font-size, font-weight, line-height, letter-spacing
    @include setTypoElem(h2, $font-family__primary, 44px, $font-weight__regular, 130%, 0);              // header 1

    @media (max-width: $bp__tab-to-mob-hi) {
        @include setTypoElem(h2, $font-family__primary, 25px, $font-weight__regular, 130%, 0.06em);         // header 2 mobile
    }

    @include setTypoElem(h3, $font-family__primary, 35px, $font-weight__regular, 130%, 0.06em);           // header 2

    @media (max-width: $bp__tab-to-mob-hi) {
        @include setTypoElem(h3, $font-family__primary, 25px, $font-weight__regular, 130%, 0.06em);         // header 2 mobile
    }

    @include setTypoElem(h4, $font-family__primary, 20px, $font-weight__regular, 115%, 0.06em);             // header 3

    // @media (max-width: $bp__tab-to-mob-hi) {
    //     @include setTypoElem(h4, $font-family__primary, 15px, $font-weight__regular, 110%, 0.06em);         // header 2 mobile
    // }

    @include setTypoElem(h5, $font-family__primary, 15px, $font-weight__regular, 110%, 0.06em);             // header 4

    @include setTypoElem(h6, $font-family__primary, 15px, $font-weight__bold, 110%, 0.06em);                // header 5

    // @include setTypoElem(h6, $font-family__secondary, 16px, $font-weight__bold, 150%, 0);            // header 6

    // @include setTypoElem(s1, $font-family__secondary, 32px, $font-weight__bold, 160%, 0);            // subtitle 1

    // @include setTypoElem(s2, $font-family__secondary, 32px, $font-weight__bold, 160%, 0);            // subtitle 2

    @include setTypoElem(p1, $font-family__secondary, 15px, $font-weight__regular, 160%, 0);

    @include setTypoElem(p2, $font-family__secondary, 12px, $font-weight__regular, 150%, 0, italic);

    @include setTypoElem(p3, $font-family__secondary, 32px, $font-weight__regular, 160%, 0);            // menu

    // @include setTypoElem(ct, $font-family__secondary, 32px, $font-weight__bold, 160%, 0);            // caption

    // @include setTypoElem(bt, $font-family__secondary, 32px, $font-weight__bold, 160%, 0);            // button

    // @include setTypoElem(ov, $font-family__secondary, 32px, $font-weight__bold, 160%, 0);            // overline

    @include setTypoElem(h1, $font-family__primary, 32px, $font-weight__regular, 110%, 0.06em);           // logo

    @include setTypoElem(sb, $font-family__secondary, 13px, $font-weight__regular, 100%, 0.1em);    // subtitle

    @include setTypoElem(link, $font-family__secondary, 15px, $font-weight__regular, 160%, 0);        // link
}




// >----------------------------------------------------------------<
// >                        SET TYPOGRAPHY                          <
// >----------------------------------------------------------------<

$setTypo-elements: (
    h2, h3, h4, h5,
    // h6, s1, s2,
    p1, p2, p3,
    // ct, bt, ov,
    h1, sb, link
);

@each $item in $setTypo-elements {
    .#{$item} {
        @include setFont(
            var(--font__font-family_ + $item),
            var(--font__font-size_ + $item),
            var(--font__font-weight_ + $item),
            var(--font__line-height_ + $item),
            var(--font__letter-spacing_ + $item),
            var(--font__font-style_ + $item)
        );
    };
};
