.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    user-select: none;
    background: var(--color-el-1);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    @media (hover: hover) {
        &:hover {
            background: var(--color-el-2);
        }
    }
}
