@use "../_global/screen-variables" as *;

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(176px, 0.25fr));
    gap: var(--col-gap);

    @media (max-width: $screen-xl) {
        grid-template-columns: repeat(auto-fit, minmax(176px, 0.34fr));
    }
    @media (max-width: $screen-lg) {
        grid-template-columns: repeat(auto-fit, minmax(176px, 0.5fr));
    }
    @media (max-width: $screen-sm) {
        grid-template-columns: repeat(auto-fit, minmax(176px, 1fr));
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        min-height: 332px;
        padding: 16px 16px;
        background: var(--color-fl-1);
        border-radius: 16px;

        .card__img {
            width: 144px;
            height: 80px;
            margin: 16px 0;
            transition: box-shadow 0.3s ease-in-out,
                        transform 0.3s ease-in-out,
                        filter 0.3s ease-in-out;

        }

        .card__title {
            text-transform: capitalize;
        }


        .card__brand-block,
        .card__info-block,
        .card__count-cart-block {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .card__count-block {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
        }

        .card__info {
            display: flex;
            flex-direction: column;
            row-gap: 8px;
            width: 100%;
            height: 108px;
        }


        .card__count-block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            user-select: none;
        }

        transition: box-shadow 0.2s ease-in-out;
        @media (hover: hover) {
            &:hover {
                box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
                .card__img {
                    transform: scale(1.03);
                }
            }
        }
    }

    .card-preloader {
        .card-preloader__img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 144px;
            height: 80px;
            margin: 0 auto;
            margin-top: 42px;
            background: var(--color-fl-2);
            border-radius: 8px;
            animation-name: cardPreloader;
            animation-duration: 0.6s;
            animation-timing-function: ease-in;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
    }

    @keyframes cardPreloader {
        0% { transform: scale(0.9); }
        100% { transform: scale(1); }
    }

    .button {
        width: 32px;
        height: 32px;
        user-select: none;
        background: var(--color-el-1);
        border: none;
        border-radius: 8px;
        cursor: pointer;
        @media (hover: hover) {
            &:hover {
                background: var(--color-el-2);
            }
        }
    }

    .in-cart {
        background: var(--color-a1-0);
        @media (hover: hover) {
            &:hover {
                background: var(--color-a1-1);
            }
        }
    }

}
