// >----------------------------------------------------------------<
// >                            IMPORT                              <
// >----------------------------------------------------------------<

@use "./asm-ui/styles/_globals/" as *;
@use "./asm-ui/styles/" as *;
@use "./styles/" as *;



// >----------------------------------------------------------------<
// >                             HEADER                             <
// >----------------------------------------------------------------<

.header {
	background: var(--color-bg-0);
    .container {
		// padding-top: calc(var(--col-gap) / 2);
	    padding-bottom: 0;
		@media (max-width: $screen-md) {
			padding-top: var(--col-gap);
		}
		.row {
			display: flex;
			align-items: center;
			@media (max-width: $screen-sm) {
				gap: 16px;
			}
		}
		.logo {
			@media (max-width: $screen-sm) {
				text-align: center;
			}
		}
		.menu {
			display: flex;
			justify-content: end;
			align-items: center;
			gap: min(16px, var(--col-gap));
			@media (max-width: $screen-sm) {
				justify-content: center;
			}
			// margin-left: auto;
		}
    }
}


// >----------------------------------------------------------------<
// >                              MAIN                              <
// >----------------------------------------------------------------<

.main {
	.container {
	    padding-top: calc( var(--col-gap) / 2);
	    padding-bottom: calc( var(--col-gap) / 2);
	}
}



// >----------------------------------------------------------------<
// >                             FOOTER                             <
// >----------------------------------------------------------------<
.footer {
    .container {
	    padding-top: 0;
	    // padding-bottom: calc(var(--col-gap) / 2);
		@media (max-width: $screen-md) {
			padding-bottom: var(--col-gap);
		}
    }
}

select {
	border-radius: 4px 0 0 4px;
	// padding: 3px;
	background: var(--color-bg-0);
	height: 20px;
	border: 2px solid var(--color-el-1);
	line-height: 100%;
	&:focus {
		outline: none !important;
	}
}

// .cards-search::-webkit-search-cancel-button {
// 	-webkit-appearance: none;
// 	width: 24px;
// 	height: 24px;
// 	cursor: pointer;
// 	background: url("./assets/svg/clear.svg") no-repeat;
// 	-webkit-filter: invert(93%) sepia(0%) saturate(0%) hue-rotate(163deg) brightness(95%) contrast(88%);
// 			filter: invert(93%) sepia(0%) saturate(0%) hue-rotate(163deg) brightness(95%) contrast(88%);
// 	background-size: contain;
//   }

input[type="text"] {
	border-radius: 0;
	// padding: 3px;
	background: var(--color-bg-0);
	height: 20px;
	border: 2px solid var(--color-el-1);
	border-left: none;
	line-height: 100%;
	&:focus {
		outline: none !important;
	}
}

// input[type="text"] {
// 	border: 1px solid #cccccc; //цвет рамки
// 	border-radius: 3px; //закругление углов (общее)
// 	-webkit-border-radius: 3px; //закругление углов (Google Chrome)
// 	-moz-border-radius: 3px; //закругление углов (FireFox)
// 	-khtml-border-radius: 3px; //закругление углов (Safari)
// 	// background: #ffffff !important; // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым
// 	// outline: none; // удаляет обводку в браузерах хром(желтая) и сафари(синяя)
//  }
