// >----------------------------------------------------------------<
// >                            IMPORT                              <
// >----------------------------------------------------------------<

@use "./asm-ui/styles/_globals/" as *;
@use "./asm-ui/styles/" as *;
@use "./styles/" as *;



.body__container {
	gap: 16px;
	background-color: var(--color-bg-0);
}
// >----------------------------------------------------------------<
// >                             HEADER                             <
// >----------------------------------------------------------------<

.header {
	background: var(--color-bg-0);
    .container {
		// padding-top: calc(var(--col-gap) / 2);
	    padding-bottom: 16px;
		@media (max-width: $screen-md) {
			padding-top: var(--col-gap);
		}
		.row {
			display: flex;
			align-items: center;
			@media (max-width: $screen-sm) {
				gap: 16px;
			}
		}
		.logo {
			@media (max-width: $screen-sm) {
				text-align: center;
			}
		}
		.menu {
			display: flex;
			justify-content: end;
			align-items: center;
			gap: min(16px, var(--col-gap));
			@media (max-width: $screen-sm) {
				justify-content: center;
			}
		}
    }
}


// >----------------------------------------------------------------<
// >                              MAIN                              <
// >----------------------------------------------------------------<

.main {
	.container {
	    padding-top: calc( var(--col-gap) / 2);
	    padding-bottom: calc( var(--col-gap) / 2);
	}
}



// >----------------------------------------------------------------<
// >                             FOOTER                             <
// >----------------------------------------------------------------<
.footer {
    .container {
	    padding-top: 0;
	    // padding-bottom: calc(var(--col-gap) / 2);
		@media (max-width: $screen-md) {
			padding-bottom: var(--col-gap);
		}
    }
}

select {
	border-radius: 4px 0 0 4px;
	background: var(--color-bg-0);
	height: 20px;
	border: 2px solid var(--color-el-1);
	line-height: 100%;
	&:focus {
		outline: none !important;
	}
}

input[type="text"] {
	border-radius: 0;
	background: var(--color-bg-0);
	height: 20px;
	border: 2px solid var(--color-el-1);
	border-left: none;
	line-height: 100%;
	&:focus {
		outline: none !important;
	}
}
