$font-path: "../assets/fonts/";
$font-primary__path: $font-path+"YesevaOne/";
$font-secondary__path: $font-path+"Montserrat/static/";
$font-tertiary__path: $font-path+"Noto/static/NotoSansMono/";
$font-primary__family-name: "Yeseva One";
$font-secondary__family-name: "Montserrat";
$font-tertiary__family-name: "Noto";
$font-family__primary: "Yeseva One",
serif;
$font-family__secondary: "Montserrat",
system-ui;
$font-family__tertiary: "Noto",
monospace;
$font-weight__bold: 700;
$font-weight__regular: 400;
