// >----------------------------------------------------------------<
// >                             IMPORT                             <
// >----------------------------------------------------------------<

@use "grid__variables" as *;

// >----------------------------------------------------------------<
// >                              GRID                              <
// >----------------------------------------------------------------<
.container {
    max-width: var(--container-width);
    display: flex;
    max-height: 100%;
    margin: 0 auto;
    padding: 0 var(--col-outer);
    @media (max-width: 1024px) {
        width: 100%;
        padding: 0 var(--col-outer);
    }
    @media (max-width: 480px) {
        padding: 0 var(--col-outer);
    }
    @media (max-width: 360px) {
        padding: 0 var(--col-outer);
    }
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;

    @media (max-width: 1024px) {
        column-gap: 24px;
    }
    @media (max-width: 480px) {
        column-gap: 16px;
    }
    @media (max-width: 360px) {
        column-gap: 8px;
    }
}

$setCol-elements: (
    1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12
);


@each $item in $setCol-elements {
    .#{col- + $item} {
        width: calc((100% - (11 * var(--col-width))) / 12 * $item + (($item - 1) * var(--col-width)));
    };
};

@each $item in $setCol-elements {
    @media (max-width: 1024px) {
        .#{col-lg- + $item} {
            width: calc((100% - (11 * var(--col-width))) / 12 * $item + (($item - 1) * var(--col-width)));
        };
    }
}

@each $item in $setCol-elements {
    @media (max-width: 480px) {
        .#{col-md- + $item} {
            width: calc((100% - (11 * var(--col-width))) / 12 * $item + (($item - 1) * var(--col-width)));
        };
    }
}

@each $item in $setCol-elements {
    @media (max-width: 360px) {
        .#{col-sm- + $item} {
            width: calc((100% - (11 * var(--col-width))) / 12 * $item + (($item - 1) * var(--col-width)));
        };
    }
}
