:root{
    --col-gap: 32px;
    --col-outer: var(--col-gap);
    --container-width: calc(1216px + (var(--col-outer) * 2)); // block container --> 72px * 12 columns | gutter 32 px | side padding 32px * 2
    @media (max-width: 1300px) {
        --col-gap: 24px;
    }
    @media (max-width: 1024px) {
        --col-gap: 24px;
    }
    @media (max-width: 960px) {
        --col-gap: 24px;
    }
    @media (max-width: 720px) {
        --col-gap: 16px;
    }
    @media (max-width: 540px) {
        --col-gap: 16px;
    }
    @media (max-width: 480px) {
        --col-gap: 8px;
    }
}
