// >----------------------------------------------------------------<
// >                             IMPORT                             <
// >----------------------------------------------------------------<

// Edit this file for change style
@use "varible__icon-font" as *;
@use "../_internal-modules" as *;


// >----------------------------------------------------------------<
// >                             EMBED                              <
// >----------------------------------------------------------------<
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");



// >----------------------------------------------------------------<
// >                             CLASS                              <
// >----------------------------------------------------------------<

.icon-medium {
    font-size: calcRem16(24px);
    color: $icon-color;
    cursor: pointer;
    &:hover {
        color: $icon-color_hover;
    }
}
