@use "variables" as *;

// >----------------------------------------------------------------<
// >                             MIXINS                             <
// >----------------------------------------------------------------<

@mixin wh($w: auto, $h: auto) { // @include wh(10px, 10px);
    width: $w;
    height: $h;
}

@mixin bgImgSVG($img, $w: auto, $h: auto) { // @include bgImgSVG("img.svg", 10px, 10px);
    @include wh($w, $h);
    // background-image: url($path-assets-svg + $img);
	background: var(--color-f1-1);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-image: url($path-assets-svg + $img);
    -webkit-mask-image: url($path-assets-svg + $img);
	transition: background 0.2s ease-in-out;
	&:hover {
		background: var(--color-f1-2);
	}
}
