@use "varible__icon"as *;
@use "mixin__icon"as *;

.github-logo {
    width: 140px;
    height: 48px;
    @include maskImgSVG("github-logo.svg", $icon-color, $icon-color_hover);
    transform: scale(0.6);
}

.rsschool-js-logo {
    width: 140px;
    height: 48px;
    @include maskImgSVG("rsschool-js-logo.svg", $icon-color, $icon-color_hover);
    transform: scale(0.6);
}
