@mixin maskImgSVG($img, $icon-color, $icon-color_hover) {
    background: $icon-color;
    mask-repeat: no-repeat;
    mask-size: cover;
    -webkit-mask-image: url("../assets/svg/"+$img);
    mask-image: url("../assets/svg/"+$img);

    @media (hover: hover) {
        &:hover {
            cursor: pointer;
            background: $icon-color_hover;
        }
    }
}
